h1, p {
  font-family: Lato;
}

#canvas {
    border:2px solid black;
    display: none;
}

#control {
  display: none;
}

#control2 {
  display: none;
}

#logout-form {
  display: none;
}

#registration-form {
  display: none;
}

#logreg {
  display: none;
}
