h1, p {
  font-family: Lato;
}

#canvas {
    border:2px solid black;
    display: none;
}

#control {
  display: none;
}

/* #root {
  display: block;
} */

/* #register-form {
  position: relative;
  right: 200px;
} */